<header>
  <div class="container-header">
    <div class="logo">
      <div class="logo-image">
        <a href="/">
          <img src="/assets/images/logo-white.svg" alt="Logo" />
        </a>
      </div>
      <div class="logo-title">
        <a href="/">DocTime</a>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/doctime/home']" routerLinkActive="active">
            Inicio
          </a>
        </li>
        <li>
          <a [routerLink]="['/doctime/doctors']" routerLinkActive="active">
            Doctores
          </a>
        </li>
        <li *ngIf="isLoged">
          <a [routerLink]="['/profile']" routerLinkActive="active"> Perfil </a>
        </li>
      </ul>
    </nav>

    <div class="header-actions">
      <ul>
        <li *ngIf="!isLoged">
          <a [routerLink]="['/auth/login']" routerLinkActive="active"
            >Iniciar Sesión</a
          >
        </li>
        <li *ngIf="!isLoged">
          <a [routerLink]="['/auth/register']" routerLinkActive="active"
            >Registrarse</a
          >
        </li>
        <li>
          <ng-container *ngIf="isLoged">
            <a (click)="logout()" (keyup.enter)="logout()" aria-hidden="true"
              >Cerrar Sesión</a
            >
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</header>
