<section class="security">
  <div class="security__header">
    <h3>Seguridad</h3>
  </div>
  <div class="box">
    <div class="box__title">
      <h4>Cambio de contraseña</h4>
    </div>
    <form class="box__security">
      <div class="box__security--password">
        <label for="newpassword" class="box__security--label"
          >Nueva contraseña</label
        >
        <input type="text" class="box__security--input" id="newpassword" />
      </div>
      <div class="box__security--password">
        <label for="repitpass" class="box__security--label"
          >Repetir contraseña</label
        >
        <input type="text" class="box__security--input" id="repitpass" />
      </div>
      <div class="box__security--password box__btn">
        <button type="button" class="box__btn--edit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="#49c2f2"
            viewBox="0 0 24 24"
          >
            <path
              d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"
            />
          </svg>
          Cambiar
        </button>
      </div>
    </form>
  </div>
</section>
