.container {
  width: 100%;
  height: 100%;

  .title {
    width: 100%;

    h3 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  .appointments-list {
    .appointments-list-content {
      width: 100%;

      table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        margin-top: 1rem;

        thead {
          tr {
            th {
              padding: 1rem 0;
              font-size: 1.2rem;
              font-weight: 600;
              color: #333;
              border-bottom: 1px solid #333333;
            }
          }
        }

        tbody {
          tr {
            td {
              padding: 1rem 0;
              font-size: 1rem;
              font-weight: 400;
              color: #333;
              border-bottom: 1px solid #333;
            }

            .confirmed {
              color: #27ae60;
              font-weight: 500;
            }

            .pending {
              color: #f2994a;
              font-weight: 500;
            }

            .cancelled {
              color: #f83c7b;
              font-weight: 500;
            }

            .rejected {
              color: #f83c7b;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
