<article>
  <div class="opinion-card">
    <div class="opinion-card-header">
      <div class="opinion-card-header-avatar">
        <img src="{{ opinion.avatar }}" alt="{{ opinion.name }}" />
      </div>
      <div class="opinion-card-header-info">
        <h3 class="opinion-card-header-info-name">{{ opinion.name }}</h3>
        <p class="opinion-card-header-info-position">
          {{ opinion.rol }}
        </p>
      </div>
    </div>
    <div class="opinion-card-body">
      <p class="opinion-card-body-text">{{ opinion.text }}</p>
    </div>
  </div>
</article>
