<div class="login-container">
  <div class="login-form">
    <div class="login-form-content">
      <div class="logo">
        <img src="assets/images/logo.svg" alt="logo" />
        <h1>DocTime</h1>
      </div>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Correo Electronico</label>
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            placeholder="Ingresa tu correo electronico"
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            formControlName="password"
            placeholder="Ingresa tu contraseña"
          />
        </div>
        <button class="btn-form" (click)="login()">Iniciar Sesión</button>
        <div class="links">
          <p class="cta-register">
            ¿Aun no tienes una cuenta?
            <a [routerLink]="['/auth/register']">Regístrate</a>
          </p>
          <p class="cta-register">
            <a style="text-decoration: none" [routerLink]="['/']"
              >Volver al inicio</a
            >
          </p>
        </div>
      </form>
    </div>
    <div class="login-form-img">
      <img
        title="Bienvenid@ a DocTime"
        src="assets/images/panel-login.svg"
        alt="panel login"
      />
    </div>
  </div>
</div>
