<footer>
  <div class="container-footer">
    <div class="about">
      <h3>Doctime</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsa
        quasi veritatis est corrupti totam.
      </p>
    </div>
    <div class="section-footer">
      <div class="title-section-footer">Accesos directos</div>
      <div class="content-section-footer">
        <ul>
          <li><a href="/">Especialidades</a></li>
          <li><a href="/">Doctores</a></li>
          <li><a href="/">Inicio</a></li>
          <li><a href="/">Perfil</a></li>
        </ul>
      </div>
    </div>
    <div class="section-footer">
      <div class="title-section-footer">Destacados</div>
      <div class="content-section-footer">
        <ul>
          <li><a href="/">Medicina General</a></li>
          <li><a href="/">Odontología</a></li>
          <li><a href="/">Pediatría</a></li>
          <li><a href="/">Oftalmología</a></li>
        </ul>
      </div>
    </div>
    <div class="section-footer">
      <div class="title-section-footer">Servicios</div>
      <div class="content-section-footer">
        <ul>
          <li><a href="/">Especialistas destacados</a></li>
          <li><a href="/">Reserva tu cita</a></li>
          <li>
            <div class="social-networks">
              <a href="/">Facebook</a>
              <a href="/">Twitter</a>
              <a href="/">Instagram</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
