<article>
  <div class="specialty-card">
    <div class="specialty-card-image">
      <img [src]="specialty.icon" [alt]="specialty.title" />
    </div>
    <div class="specialty-card-content">
      <h3 class="specialty-card-title">{{ specialty.title }}</h3>
      <p class="specialty-card-description">{{ specialty.description }}</p>
      <a class="specialty-card-link" [routerLink]="['/doctime/doctors']"
        >Ver más <span class="arrow-right">→</span></a
      >
    </div>
  </div>
</article>
