<section class="container">
  <div class="title">
    <h3 class="title-header">Mi Perfil</h3>
  </div>
  <div class="settings">
    <div class="settings__box">
      <div class="content">
        <div class="content__img">
          <img src="../../../../../assets/images/avatar2.svg" alt="default" />
        </div>
        <div class="content__text">
          <p class="content__text--name">Adolfo Aguillar Soto</p>
          <span class="content__text--date">Activo desde el 2022</span>
        </div>
      </div>
    </div>
    <form class="form">
      <div class="settings__box">
        <div class="info">
          <div class="info__title">
            <h4>Información personal</h4>
            <button type="button" class="info__button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="#49C2F2"
                viewBox="0 0 24 24"
              >
                <path
                  d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"
                />
              </svg>
              Editar
            </button>
          </div>
          <div class="info__content">
            <div class="info__content--data">
              <label for="name" class="info__content--text">Nombres</label>
              <input
                class="info__content--name"
                id="name"
                autocomplete="off"
                value="Adolfo"
              />
            </div>
            <div class="info__content--data">
              <label for="lastName" class="info__content--text"
                >Apellidos</label
              >
              <input
                type="text"
                class="info__content--name"
                id="lastName"
                autocomplete="off"
                value="Aguilar Soto"
              />
            </div>
            <div class="info__content--data">
              <label for="email" class="info__content--text"
                >Correo electronico</label
              >
              <input
                type="text"
                class="info__content--name"
                id="email"
                autocomplete="off"
                value="adolfoaguilarsoto@example.com"
              />
            </div>
            <div class="info__content--data">
              <label for="cellphone" class="info__content--text"
                >Telefono</label
              >
              <input
                type="text"
                class="info__content--name"
                id="cellphone"
                autocomplete="off"
                value="999 999 999"
              />
            </div>
            <div class="info__content--data">
              <label for="dni" class="info__content--text">DNI</label>
              <input
                type="text"
                id="dni"
                name="dni"
                class="info__content--name"
                value="77777777"
              />
            </div>
            <div class="info__content--data">
              <label for="birthday" class="info__content--text"
                >Cumpleaños</label
              >
              <input
                type="date"
                class="info__content--name"
                id="birthday"
                autocomplete="off"
                value="18/08/1995"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="settings__box">
        <div class="info">
          <div class="info__title">
            <h4>Información Adicional</h4>
          </div>
          <div class="info__content">
            <div class="info__content--data">
              <label for="registro" class="info__content--text"
                >Fecha de registro</label
              >
              <input
                type="date"
                class="info__content--name"
                id="registro"
                autocomplete="off"
                value="18-08-1995"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
