@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

:root {
  --text-white: #fff;
  --color-text-sidebar: #727788;
  --color-border: #e0dfdf;
  --button-color-text: #fff;
  --color-bg-sidebar: #1e1e1e;
  --color-sidebar-active: #00a8ea;
  --color-text: #333;
  --color-text-attenuate: #818ca1;
  --color-text-attenuate-2: #bdc4ce;
  --color-bg: #f4f5f7;
  --color-primary: #49c2f2;
  --color-primary-hover: #1a7cb5;
  --color-secondary: #305766;
  --color-bg-form: #b2d7e6;
  --color: #68aeca;
}

body {
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--color-text);
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.75rem 1.25rem;
  border-radius: 1.25rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;

  &:hover {
    transition-duration: 0.2s;
  }

  &.btn-sidebar {
    cursor: pointer;
    color: #818ca1;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 3.125rem;
    font-weight: 500;

    &:hover {
      color: #0551fe;
      background: #e9f0ff;
    }
  }

  &.btn-primary {
    background-color: #49c2f2;
    color: var(--button-color-text);

    &:hover {
      background-color: #1a7cb5;
      color: var(--button-color-text);
    }
  }

  &.btn-secondary {
    background-color: var(--button-color-text);
    color: #2d9cdb;
    border: 1px solid #2d9cdb;

    &:hover {
      background-color: #2d9cdb;
      color: var(--button-color-text);
    }
  }

  &.btn-danger {
    background: transparent;
    color: #ff4d4f;

    &:hover {
      background: #ff909050;
    }
  }

  &.btn-success {
    background-color: #27ae60;
    color: var(--button-color-text);

    &:hover {
      background-color: #27ae60;
      color: var(--button-color-text);
    }
  }

  &.btn-warning {
    background-color: #f2994a;
    color: var(--button-color-text);

    &:hover {
      background-color: #f2994a;
      color: var(--button-color-text);
    }
  }

  &.btn-info {
    background-color: #2d9cdb;
    color: var(--button-color-text);

    &:hover {
      background-color: #2d9cdb;
      color: var(--button-color-text);
    }
  }

  &.btn-light {
    background-color: var(--button-color-text);
    color: #2d9cdb;
    border: 1px solid #2d9cdb;

    &:hover {
      background-color: #2d9cdb;
      color: var(--button-color-text);
    }
  }
}

.btn-form {
  margin: 1rem auto 0;
  padding: 0.6rem;
  width: 80%;
  background-color: var(--color-primary);
  color: var(--button-color-text);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-form-reservation {
  margin: 0;
  width: auto;
}

.btn-cancel {
  color: rgb(221, 55, 55);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.6rem;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}
