<article class="dashboard">
  <div class="dashboard__header">
    <h1 class="dashboard__header--tittle">Dashboard</h1>
  </div>
  <section class="card">
    <div class="card__wrapped">
      <div class="card__wrapped--header">
        <h4>Pacientes Atendidos</h4>
        <div class="card__wrapped--icon">
          <i class="fas fa-plus"></i>
        </div>
      </div>
      <div class="card__body">
        <p class="card__body--number">30</p>
      </div>
    </div>
    <div class="card__wrapped">
      <div class="card__wrapped--header">
        <h4>Pacientes Atendidos</h4>
        <div class="card__wrapped--icon">
          <i class="fas fa-plus"></i>
        </div>
      </div>
      <div class="card__body">
        <p class="card__body--number">30</p>
      </div>
    </div>
    <div class="card__wrapped">
      <div class="card__wrapped--header">
        <h4>Pacientes Atendidos</h4>
        <div class="card__wrapped--icon">
          <i class="fas fa-plus"></i>
        </div>
      </div>
      <div class="card__body">
        <p class="card__body--number">30</p>
      </div>
    </div>
  </section>
  <section></section>
</article>
